.AccountAccess {
  width: 100%;
  height: 100%;
  display: block;

  .icon {
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    cursor: pointer;
  }

  .user-account {
    height: 100%;
    background-color: #1D1E1F;
    position:relative;
    h1 {
      background-color:#27292B;
      height: 60px;
      line-height: 60px;
      padding: 0 0 0 30px;
      margin: 0;
      border-top: 1px solid rgb(255, 255, 255 , 0.1);;

      font-size: 17px;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }
    .range {
      position:absolute;
      top: 60px;

      display: flex;

      background-color: #000000;
      height: 60px;
      width: 100%;

      .left {
        flex-grow: 1;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        .ic-search {
          margin-left: 30px;
          background-image: url('../../../public/assets/search.svg');
        }
        .ic-control {
          margin-left: 25px;
          background-image: url('../../../public/assets/icon-control@2x.png');
        }
      }
      .right {
        flex-grow: 1;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        font-size: 13px;
        color: #ffffff;
        span {
          display: flex;
          align-items: center;
          height: 60px;
          margin-right: 16px;
          .ic-most-popular {
            margin-right: 15px;
            height: 20px;
            width: 15px;
            background-image: url('../../../public/assets/most-popular.svg');
          }
        }
      }
    }
    .background {
      height: 300px;
      background-image: url('../../../public/assets/box-banner-01.jpg');
      background-size: 100% auto;
      background-repeat: no-repeat;
      opacity: 0.5;

    }

    .content {
      display: flex;
      position: absolute;
      top: 187px;
      left:0;
      background-color:#ff000010; 
      height: 496px;
      width: 100%;

      .summary {
        display:flex;
        flex-direction: column;

        position: relative;
        top: 58px;
        left: 49px;
        min-width: 224px;
        max-width: 224px;
        height: fit-content;
        border-radius: 16px;
        padding: 32px;

        background-color: #F7F8F9;

        .ic-nike {
          width: 36px;
          height: 36px;
          background-image: url('../../../public/assets/icon-nike.svg');
        }
        .nft-name {
          margin-top: 16px;
          color: #00A2E0;
          line-height: 19px;
          font-size: 15px;
          font-family: Inter;
          font-weight: bold;
        }
        .detail {
          margin-top: 8px;
          line-height: 27px;
          font: normal normal 800 24px/24px Futura;
          letter-spacing: -0.24px;
          line-height: 26px;
        }
        table {
          margin-top: 16px;
          width: 86px;
          text-align:center;
          .num {
            line-height: 29px;
            font-size: 24px;
            letter-spacing: -0.24px;
            color: #1D1E1F;
            opacity: 0.8;
            font-family: Futura;
            font-weight: medium;
          }
          .dhm {
            line-height: 14px;
            font: normal normal bold 11px Inter;
            letter-spacing: 0px;
            color: #1D1E1F;
            text-transform: uppercase;
            opacity: 0.5; 
          }
        }
        .buttons {
          display:flex;
          margin-top: 24px;
          .eth {
            display: flex;
            align-items: center;

            background-color: #00A2E0;
            padding-left: 13px;
            padding-right: 15px;
            height: 32px;
            border-radius: 16px;
            font: normal normal 800 15px/37px Futura;
            letter-spacing: -0.15px;
            color: #FFFFFF;
            .ic-eth {
              width: 10px;
              height:32px;
              margin-right: 6px;
              background-image: url('../../../public/assets/ic-eth.svg');
            }
          }

          button {
            margin-left: 10px;
            height: 32px;
            border-radius: 18px;
            line-height: 32px;
            /* UI Properties */
            background-color: #414448;
            padding-left: 15px;
            padding-right: 15px;
            font: normal normal 800 13px/17px Futura;
            letter-spacing: 0px;
            color: #FFFFFF;
            cursor: pointer;
          }
        }

      }

      .img-container {
        background-color: #ffff0029;
        flex-grow: 1;
        margin-left: 100px;
        overflow: hidden;
        img {
          border-radius: 30px;
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}
